.imagelarge {
    width: 500px;
    height: auto;

}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#10 {
    margin-top: 10px;
}